<!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h3>Echoes of Bhutan</h3>
                <p>Are You Interested in Bhutan? Why don't you contact us! 🥰</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/share/1HQEtG1z4M/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/ethereal_eecho?igsh=dnI5NmN3MzFjeDg2"><i class="fab fa-instagram"></i></a>
                    <a href="https://wa.me/qr/VRMKJTFKK7MHJ1"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/in/tshering-wangmo-190079355?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="/user/dashboard">Home</a></li>
                    <li><a href="/user/narration">Narration</a></li>
                    <li><a href="/user/about">About</a></li>
                    <li><a href="/user/testimonials">Testimonials</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contact Us</h3>
                <p><i class="fas fa-map-marker-alt"></i> Thimphu, Bhutan</p>
                <p><i class="fas fa-phone"></i> +975 17468810</p>
                <p><i class="fas fa-envelope"></i> info@echoesofbhutan.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023| Echoes of Time reserved.✌️</p>
        </div>
    </footer>