<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/authsystem.css"/>
</head>
<body>
    <div class="auth-container">
        <h2>Login</h2>
        <% if (message) { %><p><%= message %></p><% } %>
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required /><br />
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required /><br />
            </div>
            <a href="/forgot-password" class="forgot-password">Forgot password?</a>
            <button type="submit">Login</button>
            <div class="auth-switch">
                Don't have an account? <a href="/signup" class="auth-switch-link">Create an account</a>
            </div>
        </form>
        <div class="back-home-container">
      <a href="/" class="back-home-btn">
        <i class="fas fa-arrow-left"></i> Back to Home
      </a>
    </div>
    </div>
</body>
</html>